* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

/* navbar */
.navbar #open {
    cursor: pointer;
    font-size: larger;
}



#logo {
    color: black;
    font-weight: bold;
    font-size: larger;
}

.navbar {
    width: 100%;
    background-color: #fff;
    color: black;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    position: fixed;
}

/* Sidenav */
nav {
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: #2b2e57;
    /* overflow-x: hidden; */
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
}

.sidenav #close {
    cursor: pointer;
}


.sidenav .dropdown-content.show {
    display: block;
}

.sidenav .dropdown-content {
    display: none;
}

#sidenav a:hover {
    
    background-color: #72729d;
    cursor: pointer;
}

#sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

#sidenav div {
    padding-left: 20px;
}

#sidenav div a {
    font-size: 1rem;
}

.loggedin {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
}

/* MAIN */
main#main {
    width: 100%;
    height: 100vh;
    transition: margin-left 0.3s;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: hidden;
    background-color: #eef1f4;
    
}

#alertMessage {
    display: flex;
    justify-content: space-between;
}

#closeAlert {
    cursor: pointer;
    top: 10px;
    color: white;
}

/* ALERTS */
.alert {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    /* Green background for success */
    border-color: #4cae4c;
    /* Green border for success */
}

.alert.error {
    background-color: #d9534f;
    /* Red background for error */
    border-color: #d43f3a;
    /* Red border for error */
}

/* index.php page styling */
.welcome{
    padding: 70px 50px;
   
} 

/* create-inv-item.php page styling */

.newitem{
    padding: 20px 30px;
    justify-content: center;
}
.inventory{
    display: flex;
    gap: 50px;
    
    
}

.invent input{
    padding: 20px 300px;
}

.invente input{
    padding: 20px 50px;
}


.dlocation  input{
    padding: 20px 500px;
}




.invest input {
    background-color: #3c00a0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:  20px;
}

/* styling for inv-item.php */

.newa{
    padding: 10px 0px;
}
.title{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.title th {
    border: 1px solid black;
    padding: 10px;
    background-color: #72729d;
}

.title td {
    border: 1px solid black;
    padding: 10px;
}


.bod{
    background-color: white;
    color: #fff;
    border: 1px solid  #3c00a0;
    color: #3c00a0;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
}

.bode{
    background-color: #d9dcdf;
    color: #3c00a0;
    border: 1px solid  #72729d;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* styling for useradd.php */

.input-box{
display: flex;
align-items: center;
background-color: #fff;
width: 90%;
max-width: 500px;
}

.input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    }

.input i{
width: 35px;
cursor: pointer;
    }
/* MEDIA QUERIES */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    /* Styles for medium devices (tablets) */
}

@media screen and (min-width: 992px) {
    /* Styles for large devices (desktops) */
}

@media screen and (min-width: 1200px) {
    /* Styles for extra large devices (large desktops) */
}